body.b1 {


	background: url(sq.png) repeat 0 0;
}

.H1 {

	font-family: "Comic Sans MS";
	text-align: center;
	color:  #7CBB00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

img.kit {
display: block;
    margin: auto;
    width: 40%;
	
}

p.p1{
color: #cc0066;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	text-align: center;

}

h2{

color: #7CBB00;
	text-align: center;

}

ul {

	color: #7CBB00;
	text-align: center;
	

}

li {

	display: block;
}

.a1 a{

	color: hotpink;
}

.a1:hover a{

	color: #7CBB00;
}

.a2 a{

color: #7CBB00;

}

.a2:hover a{
	color: hotpink;
}